.vs/ProcessWrapper/v16/Browse.VC.db
.vs/ProcessWrapper/v16/Browse.VC.db-shm
.vs/ProcessWrapper/v16/Browse.VC.db-wal
.vs/ProcessWrapper/v16/Browse.VC.opendb
.vs/ProcessWrapper/v16/ipch/AutoPCH/853c5a78df0f2b83/UTILITY.ipch
.vs/ProcessWrapper/v16/ipch/AutoPCH/de108da6b55c7053/QPROCESS.ipch
.vs/ProcessWrapper/v16/ipch/AutoPCH/e493090dc41919e6/MAIN.ipch
ProcessWrapper/x64/Debug/main.obj
ProcessWrapper/x64/Debug/ProcessWrapper.exe.recipe
ProcessWrapper/x64/Debug/ProcessWrapper.ilk
ProcessWrapper/x64/Debug/ProcessWrapper.log
ProcessWrapper/x64/Debug/QHandle.obj
ProcessWrapper/x64/Debug/QProcess.obj
ProcessWrapper/x64/Debug/Utility.obj
ProcessWrapper/x64/Debug/vc142.idb
ProcessWrapper/x64/Debug/vc142.pdb
ProcessWrapper/x64/Debug/ProcessWrapper.tlog/CL.command.1.tlog
ProcessWrapper/x64/Debug/ProcessWrapper.tlog/CL.read.1.tlog
ProcessWrapper/x64/Debug/ProcessWrapper.tlog/CL.write.1.tlog
ProcessWrapper/x64/Debug/ProcessWrapper.tlog/link.command.1.tlog
ProcessWrapper/x64/Debug/ProcessWrapper.tlog/link.read.1.tlog
ProcessWrapper/x64/Debug/ProcessWrapper.tlog/link.write.1.tlog
ProcessWrapper/x64/Debug/ProcessWrapper.tlog/ProcessWrapper.lastbuildstate
ProcessWrapper/x64/Release/main.obj
ProcessWrapper/x64/Release/ProcessWrapper.exe.recipe
ProcessWrapper/x64/Release/ProcessWrapper.iobj
ProcessWrapper/x64/Release/ProcessWrapper.ipdb
ProcessWrapper/x64/Release/ProcessWrapper.log
ProcessWrapper/x64/Release/QHandle.obj
ProcessWrapper/x64/Release/QProcess.obj
ProcessWrapper/x64/Release/Utility.obj
ProcessWrapper/x64/Release/vc142.pdb
ProcessWrapper/x64/Release/ProcessWrapper.tlog/CL.command.1.tlog
ProcessWrapper/x64/Release/ProcessWrapper.tlog/CL.read.1.tlog
ProcessWrapper/x64/Release/ProcessWrapper.tlog/CL.write.1.tlog
ProcessWrapper/x64/Release/ProcessWrapper.tlog/link.command.1.tlog
ProcessWrapper/x64/Release/ProcessWrapper.tlog/link.read.1.tlog
ProcessWrapper/x64/Release/ProcessWrapper.tlog/link.write.1.tlog
ProcessWrapper/x64/Release/ProcessWrapper.tlog/ProcessWrapper.lastbuildstate
x64/Debug/ProcessWrapper.pdb
x64/Release/ProcessWrapper.pdb
.vs/ProcessWrapper/v16/.suo
